*{
    margin: 0;
    padding: 0;
}
.header{
    width:100%;
    background: silver;
    overflow: hidden;
}
.header-left{
    width: 15%;
    background: green;
    float: left;
    margin-top: 25px;
    border: 2px ridge aqua;
    border-radius: 5px;
}
.header-left h3{
    font-family: cursive;
    text-align: center;
}
.header-middle{
    width:30%;
    background: red;
    color: white;
    float: left;
    margin-left: 200px;
       border: 2px ridge aqua;
    border-radius: 5px;
    padding: 5px;
}
.header-middle h2{
    font-family: monospace
}
/*end header part*/
/*start navigation part*/
.menu{
    background:black;
    min-height: 38px;
   
}
.menu li{
    float:left;
    list-style-type:none;
    position: relative;
}
.menu li a{
    color:white;
    padding:10px 12px;
    display:inline-block;
    text-decoration:none;
}


.menu li a:hover{
    background:green;
}
.menu li .home-click{
    background-color:brown;
}

.menu .catagory-option {
    background: white;
    box-shadow: 0px 2px 2px 2px silver;
    position: absolute;
    left: -99999px;
}
.menu .catagory-option a{
color:black;
}
.menu .catagory-option li{
    float: none;
   
}
.catagory:hover .catagory-option{
    left:0;
}
.menu .catagory-option li a{
 min-width: 100px;
}
.blog-option{
    background: white;
    box-shadow: 0px 2px 2px 2px silver;
            left:-999999px;
    position:absolute;
     z-index: 20;
}
.blog{
    position: relative;
}
.blog-option li{
    float:none;

}
.blog-option li a{
    color:black;
    min-width: 100px;
}
.blog:hover .blog-option{
    left:0;
}
/* start slider area*/
.nivoSlider img{
    z-index: 10;
}

.full-slider{
 width: 650px;
    height: 350px;
    margin-left: 230px;
  
}
.fullslider{
    padding: 0;
    margin: 0;
    border: 2px solid red;
      background-color: silver;
   
}
/* end slider area*/
/*start section area*/
.section1{
    width:200px;
    background:url("main/section/pic/1.JPG");
    background-size:cover;
    float: left;
    margin: 20px 0px 0px 30px;
}
.section2{
       width:200px;
    background:url("main/section/pic/2.JPG");
    background-size:cover; 
    float: left;
    margin: 20px 0px 0px 30px;
}
.section3{
       width:200px;
    background:url("main/section/pic/3.JPG");
    background-size:cover; 
    float: left;
    margin: 20px 0px 0px 30px;
}
.section{
    margin-left: 200px;
    margin-top: 70px;
   
}
.section button{
    background: black;
    color: white;
    padding: 4px;
    cursor: pointer;
    border: red 3px solid;
}
/*start about us area*/
.about {
    margin-top: 300px;
}
.about p{
    background-color: lightcyan
}
.about h2{
    background: blue;
}
.about button{
        background: black;
    color: white;
    padding: 4px;
    cursor: pointer;
    border: red 3px solid;
}
/*start footer area area*/
.footer{
    background: black;
    color:white;
    overflow: hidden;
}
.footer a{
    text-decoration: none;
    color:aqua
}
.footer a:hover{
    text-decoration: underline;
    color:blue;
}
.footer1{
    float: left;
    margin: 25px 0px 5px 50px;
}
.footer2{
    float: left;
    margin: 25px 0px 5px 270px;
}
.address{
    float: right;
    margin: 25px 15px 5px 270px;
}




















